@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --breakpoint-xs: 350px;

    --color-primary: #CE5F34;
    --font-sans: 'Ruda', sans-serif;
}

@layer base {
    b, strong {
        @apply font-bold text-zinc-900;
    }
}

@layer components {
    .nav-link {
        @apply relative hover:text-primary transition-colors duration-300
               after:absolute after:bottom-0 after:left-0 after:h-px after:w-full
               after:bg-primary after:translate-y-1 after:opacity-0
               after:transition-all after:duration-300
               hover:after:translate-y-0 hover:after:opacity-100;
    }
}

@utility prose {
    h1, h2, h3, h4 {
        @apply font-semibold tracking-tighter;
    }

    h1 {
        @apply text-4xl xs:text-5xl lg:text-6xl xl:text-7xl leading-[1.15];
    }

    h2 {
        @apply leading-[1.45];
    }

    h3 {
        @apply leading-[1.6];
    }

    h4 {
        @apply leading-[1.65];
    }

    em {
        @apply not-italic bg-amber-100 px-2 rounded-xl;
    }
}