@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --breakpoing-xs: 350px;

    --color-primary: #CE5F34;
    --font-sans: 'Ruda', sans-serif;
}

@layer base {
    b, strong {
        @apply font-bold text-zinc-900;
    }
}

@layer components {
    .nav-link {
        @apply relative hover:text-primary transition-colors duration-300
               after:absolute after:bottom-0 after:left-0 after:h-px after:w-full
               after:bg-primary after:translate-y-1 after:opacity-0
               after:transition-all after:duration-300
               hover:after:translate-y-0 hover:after:opacity-100;
    }
}